/* Font settings for Chinese
-------------------------------------------------- */
body,input,button,select,textarea, h1 ,h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft YaHei", "メイリオ", "맑은 고딕", sans-serif;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  //min-height: 2000px;
  padding-top: 60px;
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.navbar-default {
    background-color: #fff;
    border-color: #ee3b64;
}

/* CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
/*.carousel {
  height: 500px;
  margin-bottom: 20px;
  position: relative;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
/*.carousel .item {
  height: 500px;
  background-color: #fff;
}

.carousel-inner > .item > img {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  //min-width: 500px;
  //height: 500px;
}*/

/* adjust carousel control button color and background */


/*.carousel-indicators li {
    border: 1px solid #ee3b64;
}*/
/*.carousel-indicators .active {
	background-color: #ee3b64;
}*/
/*.carousel-caption h1{
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
	//text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5)
}*/

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 40px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image {
	max-height: 500px;
}

.featurette {
	color: #ee3b64
}

.lead {
	font-size: 140%;
	color: #333;
}
/* Sticky footer styles
-------------------------------------------------- */
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #ee3b64;
    //padding-top: 10px;
    //color: #fff;
    //border-top: 1px solid #ee3b64;
}

.downloadlinks {
    margin: 40px 0;
    margin-top: 40px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 0px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 10px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  color: #fff;
}
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/* CSS adapt from BX_Yang
-------------------------------------------------- */

.catchyDetail header
        {
            background-color: #FAFAFA;
        }
.catchyDetail ul li
        {
            list-style: none;
        }

.productContent
        {
            width: 600px;
            //height: 600px;
            border: 1px solid #edeeee;
            background-color: #FFFFFF;
            margin: 0 auto;
        }

.productBody
        {
            overflow: auto;
            border-bottom: 1px solid #edeeee;
        }

.productShortTitle
        {
            font-size: 25px;
        }


.productImage
        {
            max-height: 600px;
			//min-height: 600px;
			margin: 8px auto;
        }

.UserImage
        {
            border-radius: 50%;
            width: 30px;
            height: 30px;
            /*overflow: hidden;*/
        }
.productHeader
        {
            height: 50px;
            padding: 10px 15px;
            border-bottom: 1px solid #edeeee;
        }
.UserImage
        {
            position: absolute;
            margin: -1px 10px -1px -5px;
        }
.UserName
        {
            position: relative;
            color: #125688;
            margin-left: 35px;
            font-size: 15px;
            font-weight: 600;
            padding-top: 4px;
        }
.contentHeader
        {
            margin: 0px auto;
        }





/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 500px) {
	.carousel-caption h1 {
		font-size: 28px;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
	}
	.carousel {
		height: 300px;
	}
	.carousel .item {
		height: 300px;
	}
	.productContent{
		width: auto;

	}
}
@media (min-width: 768px) {
    /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 10px;
    font-size: 100%;
    line-height: 1.4;
  }
	.featurette-heading {
		font-size: 50px;
	}
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/* .col-centered{
    float: none;
    margin: 0 auto;
} */
