@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

body,input,button,select,textarea, h1 ,h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft YaHei", "メイリオ", "맑은 고딕", sans-serif;
}

a.navbar-brand {
    padding-top: 8.5px;
}

.navbar-default {
    border-color: #18bc9c;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-default .navbar-nav > li > a {
    color: #000;
}

.navbar-default .navbar-brand {
    color: #000;
}

.navbar {
    text-transform: lowercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    background-color: #fff;
    padding: 10px 0;
    font-size: 1em;
	margin-bottom: 0px;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
/*     background-color: #eee;
    background-color: rgba(86,61,124,.15); */
/*     border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2); */
}

.btn-group-justified>.btn-group .btn {
    width: 90%;
}

.buttons> [class*="col-"]{
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Noto Sans TC', Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

/*
   custom CSS for tshirt
*/

.carousel,.carousel-inner > .item{
    width: 100%;
    height: auto;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
    max-height: 30px;
    max-width: 30px;


}
/*.arrowleft{
    src:"/assets/img/left.png";
}*/
.carousel-control {
    color: #18bc9c;
    opacity: .1;
    top: 30%;
    width: 10%;
}
.carousel-control:focus, .carousel-control:hover {
    color: #18bc9c;
}
.carousel-control.right, .carousel-control.left{
    background-image: none;
    max-height: 20%;
}
.carousel-indicators {
    margin-bottom: -30px
}
.carousel-indicators li {
    border: 1px solid #18bc9c;
}
.carousel-indicators .active {
    background-color: #18bc9c;
}

.item {
    position: relative;
}

.frame {
    width: 220px;
    max-width: 35%;
}

.frame-Hoodie{
    width: 180px;
    max-width: 30%;
}

.frame-SweatShirt{
    width: 260px;
    max-width: 40%;
}

.renmade_loading {

}

.gen_price_area {
    text-decoration: line-through;
    font-size: 20px;
}

.normal_price_area {
    text-decoration: line-through;
    font-size: 20px;
    display:none;
}

.framerow {
    margin-top: 80px;
}

/* DIV tshirtDetail properties */
.tshirtDetail {
	margin: 20px 0;
	padding: auto;
}

.tshirtDetail img {
    display: block;
    margin: 0 auto 20px;
}

.tshirtName .tshirtPrice .tshirtBuy {
    text-align: center;
}

.background-tshirt {
    width: 550px;
    max-width: 90%;
}

.background-hoodie {
    width: 600px;
    max-width: 90%;
}

.framediv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 23%;
    left: 0px;
}



/* added by tony 2016/12/1 */
.gashapon {
    font-size: 20px;
    font-family: 'Bungee', cursive, "微軟正黑體", "Microsoft YaHei", "メイリオ", "맑은 고딕", sans-serif;
}

/* added by tony 2016/11/15 */
.framedivHoodie {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 22%;
    left: 0px;
}


.framediv-SweatShirt {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 20%;
    left: 0px;
}

.framedivspecialwindow {
    position: absolute;
    width: 100%;
    top: 23%;
    left: 0px;
}

.framespecialwindow {
    width: 220px;
    max-width: 35%;
}

.background-tshirt-specialwindow {
    width: 550px;
    max-width: 90%;
}

.framedivbuylink {
    position: absolute;
    width: 100%;
    top: 23%;
    left: 0px;
}

.framebuylink {
    width: 220px;
    max-width: 35%;
}

.background-tshirt-buylink {
    width: 550px;
    max-width: 90%;
}

.footer {
	font-family: 'Noto Sans TC', Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #18bc9c;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .3s ease-in-out;
transition:all .3s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .3s linear;
transition:all .3s linear;
}

.hovereffect h2 {
text-transform:uppercase;
color:#fff;
text-align:center;
position:relative;
top: 70%;
font-size:17px;
background:rgba(0,0,0,0.6);
-webkit-transform:translatey(-100px);
-ms-transform:translatey(-100px);
transform:translatey(-100px);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
padding:10px;
}

.hovereffect a.info {
position:relative;
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin: 50px 0 0;
padding:7px 14px;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.6);
-webkit-transform:scale(1.6);
transform:scale(1.6);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}


.scroll-top .btn {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 28px;
    color: #18bc9c;
    background-color: #fff;
    border-color: #18bc9c;
}

/* .hovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease;
transition:all .4s ease
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
    -ms-transform:scale(1.5);
    -webkit-transform:scale(1.5);
    transform:scale(1.5);
    opacity:0.8;
    background-color:rgba(0,0,0,.75);
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
} */

hr {
    border-top: 1px solid #18bc9c;
}

hr.star-primary:after {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
    font-family: FontAwesome;
    font-size: 2em;
}

thead {
	font-family: 'Noto Sans TC';
	font-weight: 400;
}

.panel-heading {
	font-family: 'Noto Sans TC';
	font-weight: 900;
}

#selected .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24,188,156,.9);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#selected .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}

#selected .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#selected .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}

#selected .portfolio-item .portfolio-link .caption .caption-content h3,
#selected .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

/*
/*
/* shopping cart area */
/*  */
/*  */
.basket_list .table select , input{
	height: 25px;
}

.basket_list .size,
.basket_list .color,
.basket_list .price,
.basket_list .subtotal,
.basket_list .quantity input.number ,
.totalROW .size,
.totalROW .color,
.totalROW .price,
.totalROW .total,
.totalROW .quantity {
    width: 80px;
}


 .table-order {
     margin-bottom: 10px;
 }


 /*
/*
/* tshirt portfolio section */
/*  */
/*  */

.portfolio-modal p{
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft YaHei", "メイリオ", "맑은 고딕", sans-serif;
}

.portfolio-modal h2{
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft YaHei", "メイリオ", "맑은 고딕", sans-serif;
    /*font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; Tony: dont remember why it's set to "Lato", but reset it to match with body's h2 */
}

 .portfolio-modal .modal-content {
    padding: 60px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 3em;
}

.portfolio-modal .modal-content img {
    margin-right: auto;
    margin-left:auto;
    margin-bottom: 20px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-inner-description {
    margin-left: 10%;
    margin-right: 10%;
}

.portfolio-inner-sizeInfo {
    font-size: 16px;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 50px;
    margin-left: 25px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 50px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}
.BuyLinkhovereffect {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}
.BuyLinkhovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .3s linear;
    transition:all .3s linear;
}
.BuyLinkhovereffect:hover img {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}



.additem {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 3px 6px;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    width: 80px;
}

.renmade-Btn-small{
    background-color:#18bc9c;
    color: #fff;
    width:80px;
}

.renmade-Btn{
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 3px 6px;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    background-color:#18bc9c;
    color: #fff;
}

.renmade-Btn:active{
    background-color:#128f76;
    color: #fff;
}
.renmade-Btn:hover{
    background-color:#15a589;
     color: #fff;
}
.renmade-Btn:active:hover{
    background-color:#128f76;
    color: #fff;
}
.removeitem{
    padding: 5px 10px;
    font-size: 12px;
    color: #fff;

    border-radius: 3px;
    cursor: pointer;
}

.renmade-tr-row-top{
    border-top: 1px solid #ddd;
}
.renmade-table{
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    border-top: 1px solid #ddd;
}
.renmade-table td{
    padding: 5px;
    vertical-align: top;
}
.renmade-table thead {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
.renmade-table thead th{
    text-align: left;
    white-space: nowrap;
    padding: 0 8px
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #eeeeee;
}

.floating-label-form-group {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #eeeeee;
}

.floating-label-form-group input, .floating-label-form-group textarea {
    z-index: 1;
    position: relative;
    padding-right: 0;
    padding-left: 0;
    border: none;
    border-radius: 0;
    font-size: 1.5em;
    background: none;
    box-shadow: none !important;
    resize: none;
}

.floating-label-form-group label {
    display: block;
    z-index: 0;
    position: relative;
    top: 2em;
    margin: 0;
    font-size: 0.85em;
    line-height: 1.764705882em;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0;
    -webkit-transition: top 0.3s ease,opacity 0.3s ease;
    -moz-transition: top 0.3s ease,opacity 0.3s ease;
    -ms-transition: top 0.3s ease,opacity 0.3s ease;
    transition: top 0.3s ease,opacity 0.3s ease;
}

#sizingInfo .sizingMale td,
#sizingInfo .sizingHoodie td{
    vertical-align: middle;
}

.portfolio-inner-sizeInfo th {
    text-align: center;
}
/* added by tony 2016/12/6
for try on reference to vertical-align middle
*/
.tryonReference {
    display: inline-block;
    vertical-align: middle;
}

@media (min-width: 768px) {
    .form-inline .form-control {
        width: 80%;
    }
}
